USE [master]
GO
/****** Object:  Database [Pim4final]    Script Date: 26/11/2020 20:28:11 ******/
CREATE DATABASE [Pim4final]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pim4final', FILENAME = N'G:\UNIP\bancodedados\Pim4final.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pim4final_log', FILENAME = N'G:\UNIP\bancodedados\Pim4final_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pim4final].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pim4final]
GO
/****** Object:  Table [dbo].[CARGO]    Script Date: 26/11/2020 20:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGO](
	[CAR_INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAR_STR_CARGO] [varchar](80) NOT NULL,
 CONSTRAINT [PK_CARGO_ID] PRIMARY KEY CLUSTERED 
(
	[CAR_INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 26/11/2020 20:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CLI_INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLI_STR_NOME_RZSOCIAL] [varchar](80) NOT NULL,
	[CLI_STR_NOME_FANTASIA] [varchar](120) NULL,
	[CLI_STR_CPF_CNPJ] [char](13) NOT NULL,
	[CLI_STR_TELEFONE_FIXO] [char](10) NOT NULL,
	[CLI_STR_TELEFONE_CELULAR] [char](11) NULL,
	[CLI_STR_EMAIL] [varchar](80) NOT NULL,
	[CLI_STR_SENHA] [char](8) NOT NULL,
	[CLI_STR_LOGRADOURO] [varchar](80) NOT NULL,
	[CLI_STR_NUMERO] [varchar](8) NOT NULL,
	[CLI_STR_CEP] [char](8) NOT NULL,
	[CLI_STR_BAIRRO] [varchar](80) NOT NULL,
	[CLI_STR_COMP] [varchar](50) NULL,
	[EST_INT_ID] [int] NOT NULL,
	[CLI_STR_SITE] [varchar](50) NULL,
	[CLI_DAT_DATA] [date] NULL,
 CONSTRAINT [PK_CLIENTE_ID] PRIMARY KEY CLUSTERED 
(
	[CLI_INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_CLIENTE_CPF_CNPJ] UNIQUE NONCLUSTERED 
(
	[CLI_STR_CPF_CNPJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_EMAIL] UNIQUE NONCLUSTERED 
(
	[CLI_STR_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_NOME_RZSOCIAL] UNIQUE NONCLUSTERED 
(
	[CLI_STR_NOME_RZSOCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TELEFONE_CELULAR] UNIQUE NONCLUSTERED 
(
	[CLI_STR_TELEFONE_CELULAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TELEFONE_FIXO] UNIQUE NONCLUSTERED 
(
	[CLI_STR_TELEFONE_FIXO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONSULTACARTEIRA]    Script Date: 26/11/2020 20:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSULTACARTEIRA](
	[CSC_INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CSC_DOU_VALOR] [real] NOT NULL,
	[CLI_INT_ID] [int] NOT NULL,
 CONSTRAINT [PK_CONSULTARCARTEIRA_ID] PRIMARY KEY CLUSTERED 
(
	[CSC_INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTRATOSINTELIGENTES]    Script Date: 26/11/2020 20:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRATOSINTELIGENTES](
	[CTI_INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CTI_STR_DESC] [varchar](120) NOT NULL,
	[CLI_INT_ID] [int] NOT NULL,
	[CTI_DAT_DATA] [date] NULL,
	[OPE_INT_ID] [int] NULL,
	[CTI_STR_PENDENTE] [char](3) NULL,
	[SET_INT_ID] [int] NULL,
	[CTI_STR_RESOLUCAO] [varchar](180) NULL,
 CONSTRAINT [PK_CONTRATOSINTELIGENTES_ID] PRIMARY KEY CLUSTERED 
(
	[CTI_INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COTACAO]    Script Date: 26/11/2020 20:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COTACAO](
	[COT_INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[COT_STR_VALOR] [varchar](60) NOT NULL,
	[COT_DAT_Data] [date] NULL,
 CONSTRAINT [PK_COTACAO_ID] PRIMARY KEY CLUSTERED 
(
	[COT_INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTTCONOSCO]    Script Date: 26/11/2020 20:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTTCONOSCO](
	[CTT_INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CTT_STR_DESC] [varchar](180) NOT NULL,
	[CTT_STR_PENDENTE] [char](3) NOT NULL,
	[CLI_INT_ID] [int] NOT NULL,
	[CTT_STR_RESOLUCAO] [varchar](180) NULL,
	[SET_INT_ID] [int] NULL,
	[CTT_DAT_DATA] [date] NULL,
 CONSTRAINT [PK_CTTCONOSCO_ID] PRIMARY KEY CLUSTERED 
(
	[CTT_INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 26/11/2020 20:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[EST_INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[EST_STR_DESC] [varchar](80) NOT NULL,
	[EST_STR_SIGLA] [char](2) NOT NULL,
 CONSTRAINT [PK_ESTADO_ID] PRIMARY KEY CLUSTERED 
(
	[EST_INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_ESTADO_SIGLA] UNIQUE NONCLUSTERED 
(
	[EST_STR_SIGLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUNCIONARIO]    Script Date: 26/11/2020 20:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCIONARIO](
	[FUN_INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[FUN_STR_NOME] [varchar](80) NOT NULL,
	[FUN_STR_REGISTRO] [char](12) NOT NULL,
	[FUN_STR_SENHA] [char](8) NOT NULL,
	[SET_INT_ID] [int] NULL,
	[CAR_INT_ID] [int] NULL,
	[FUN_STR_CPF] [varchar](11) NULL,
	[FUN_STR_STATUS] [varchar](15) NULL,
	[FUN_STR_TELCEL] [char](11) NULL,
	[FUN_STR_TELFIXO] [char](10) NULL,
 CONSTRAINT [PK_FUNCIONARIO_ID] PRIMARY KEY CLUSTERED 
(
	[FUN_INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_FUNCIONARIO_REGISTRO] UNIQUE NONCLUSTERED 
(
	[FUN_STR_REGISTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERACOES]    Script Date: 26/11/2020 20:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERACOES](
	[OPE_INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[OPE_STR_TIPO] [varchar](60) NOT NULL,
 CONSTRAINT [PK_OPERACOES_ID] PRIMARY KEY CLUSTERED 
(
	[OPE_INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERACOESCARTEIRA]    Script Date: 26/11/2020 20:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERACOESCARTEIRA](
	[OPC_INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[OPC_DOU_VALOR] [real] NOT NULL,
	[CLI_INT_ID] [int] NOT NULL,
	[OPC_DAT_Data] [date] NULL,
	[OPE_INT_ID] [int] NULL,
	[OPC_STR_PENDENTE] [char](3) NULL,
	[SET_INT_ID] [int] NULL,
	[OPC_STR_RESOLUCAO] [varchar](180) NULL,
 CONSTRAINT [PK_OPERACOESCARTEIRA_ID] PRIMARY KEY CLUSTERED 
(
	[OPC_INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEMDESERVICO]    Script Date: 26/11/2020 20:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEMDESERVICO](
	[ODS_INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[ODS_STR_DESC] [varchar](180) NOT NULL,
	[ODS_DAT_DATA_DE_ABERTURA] [datetime] NOT NULL,
	[ODS_STR_CONTRATADO] [char](3) NOT NULL,
	[ODS_STR_SETOR] [varchar](30) NOT NULL,
	[ODS_STR_PENDENTE] [char](3) NOT NULL,
	[ODS_STR_TIPO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ORDEMDESERVICO_ID] PRIMARY KEY CLUSTERED 
(
	[ODS_INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROTECAODEATIVOS]    Script Date: 26/11/2020 20:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROTECAODEATIVOS](
	[PTA_INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PTA_STR_DESC] [varchar](80) NOT NULL,
	[CLI_INT_ID] [int] NOT NULL,
	[PTA_DAT_DATA] [date] NULL,
	[OPE_INT_ID] [int] NULL,
	[PTA_STR_PENDENTE] [char](3) NULL,
	[SET_INT_ID] [int] NULL,
	[PTA_STR_RESOLUCAO] [varchar](180) NULL,
 CONSTRAINT [PK_PROTECAODEATIVOS_ID] PRIMARY KEY CLUSTERED 
(
	[PTA_INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SETORES]    Script Date: 26/11/2020 20:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SETORES](
	[SET_INT_ID] [int] IDENTITY(1,1) NOT NULL,
	[SET_STR_SETOR] [varchar](30) NOT NULL,
 CONSTRAINT [PK_SETORES_ID] PRIMARY KEY CLUSTERED 
(
	[SET_INT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_ESTADO_ID] FOREIGN KEY([EST_INT_ID])
REFERENCES [dbo].[ESTADO] ([EST_INT_ID])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_ESTADO_ID]
GO
ALTER TABLE [dbo].[CONSULTACARTEIRA]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTACARTEIRA_CLIENTE_ID] FOREIGN KEY([CLI_INT_ID])
REFERENCES [dbo].[CLIENTE] ([CLI_INT_ID])
GO
ALTER TABLE [dbo].[CONSULTACARTEIRA] CHECK CONSTRAINT [FK_CONSULTACARTEIRA_CLIENTE_ID]
GO
ALTER TABLE [dbo].[CONTRATOSINTELIGENTES]  WITH CHECK ADD  CONSTRAINT [FK_CONSTRATOSINTELIGENTES_CLIENTE_ID] FOREIGN KEY([CLI_INT_ID])
REFERENCES [dbo].[CLIENTE] ([CLI_INT_ID])
GO
ALTER TABLE [dbo].[CONTRATOSINTELIGENTES] CHECK CONSTRAINT [FK_CONSTRATOSINTELIGENTES_CLIENTE_ID]
GO
ALTER TABLE [dbo].[CONTRATOSINTELIGENTES]  WITH CHECK ADD  CONSTRAINT [FK_CONTRATOSINTELIGENTES_OPERACOES_ID] FOREIGN KEY([OPE_INT_ID])
REFERENCES [dbo].[OPERACOES] ([OPE_INT_ID])
GO
ALTER TABLE [dbo].[CONTRATOSINTELIGENTES] CHECK CONSTRAINT [FK_CONTRATOSINTELIGENTES_OPERACOES_ID]
GO
ALTER TABLE [dbo].[CONTRATOSINTELIGENTES]  WITH CHECK ADD  CONSTRAINT [FK_CONTRATOSINTELIGENTES_SETORES_ID] FOREIGN KEY([SET_INT_ID])
REFERENCES [dbo].[SETORES] ([SET_INT_ID])
GO
ALTER TABLE [dbo].[CONTRATOSINTELIGENTES] CHECK CONSTRAINT [FK_CONTRATOSINTELIGENTES_SETORES_ID]
GO
ALTER TABLE [dbo].[CTTCONOSCO]  WITH CHECK ADD  CONSTRAINT [FK_CTTCONOSCO_CLIENTE_ID] FOREIGN KEY([CLI_INT_ID])
REFERENCES [dbo].[CLIENTE] ([CLI_INT_ID])
GO
ALTER TABLE [dbo].[CTTCONOSCO] CHECK CONSTRAINT [FK_CTTCONOSCO_CLIENTE_ID]
GO
ALTER TABLE [dbo].[CTTCONOSCO]  WITH CHECK ADD  CONSTRAINT [FK_CTTCONOSCO_SETORES_ID] FOREIGN KEY([SET_INT_ID])
REFERENCES [dbo].[SETORES] ([SET_INT_ID])
GO
ALTER TABLE [dbo].[CTTCONOSCO] CHECK CONSTRAINT [FK_CTTCONOSCO_SETORES_ID]
GO
ALTER TABLE [dbo].[FUNCIONARIO]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONARIO_CARGO_ID] FOREIGN KEY([CAR_INT_ID])
REFERENCES [dbo].[CARGO] ([CAR_INT_ID])
GO
ALTER TABLE [dbo].[FUNCIONARIO] CHECK CONSTRAINT [FK_FUNCIONARIO_CARGO_ID]
GO
ALTER TABLE [dbo].[FUNCIONARIO]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONARIO_SETORES_ID] FOREIGN KEY([SET_INT_ID])
REFERENCES [dbo].[SETORES] ([SET_INT_ID])
GO
ALTER TABLE [dbo].[FUNCIONARIO] CHECK CONSTRAINT [FK_FUNCIONARIO_SETORES_ID]
GO
ALTER TABLE [dbo].[OPERACOESCARTEIRA]  WITH CHECK ADD  CONSTRAINT [FK_OPERACOESCARTEIRA_CLIENTE_ID] FOREIGN KEY([CLI_INT_ID])
REFERENCES [dbo].[CLIENTE] ([CLI_INT_ID])
GO
ALTER TABLE [dbo].[OPERACOESCARTEIRA] CHECK CONSTRAINT [FK_OPERACOESCARTEIRA_CLIENTE_ID]
GO
ALTER TABLE [dbo].[OPERACOESCARTEIRA]  WITH CHECK ADD  CONSTRAINT [FK_OPERACOESCARTEIRA_OPERACOES] FOREIGN KEY([OPE_INT_ID])
REFERENCES [dbo].[OPERACOES] ([OPE_INT_ID])
GO
ALTER TABLE [dbo].[OPERACOESCARTEIRA] CHECK CONSTRAINT [FK_OPERACOESCARTEIRA_OPERACOES]
GO
ALTER TABLE [dbo].[OPERACOESCARTEIRA]  WITH CHECK ADD  CONSTRAINT [FK_OPERACOESCARTEIRA_SETORES_ID] FOREIGN KEY([SET_INT_ID])
REFERENCES [dbo].[SETORES] ([SET_INT_ID])
GO
ALTER TABLE [dbo].[OPERACOESCARTEIRA] CHECK CONSTRAINT [FK_OPERACOESCARTEIRA_SETORES_ID]
GO
ALTER TABLE [dbo].[PROTECAODEATIVOS]  WITH CHECK ADD  CONSTRAINT [FK_PROTECAODEATIVOS_CLIENTE_ID] FOREIGN KEY([CLI_INT_ID])
REFERENCES [dbo].[CLIENTE] ([CLI_INT_ID])
GO
ALTER TABLE [dbo].[PROTECAODEATIVOS] CHECK CONSTRAINT [FK_PROTECAODEATIVOS_CLIENTE_ID]
GO
ALTER TABLE [dbo].[PROTECAODEATIVOS]  WITH CHECK ADD  CONSTRAINT [FK_PROTECAODEATIVOS_OPERACOES_ID] FOREIGN KEY([OPE_INT_ID])
REFERENCES [dbo].[OPERACOES] ([OPE_INT_ID])
GO
ALTER TABLE [dbo].[PROTECAODEATIVOS] CHECK CONSTRAINT [FK_PROTECAODEATIVOS_OPERACOES_ID]
GO
ALTER TABLE [dbo].[PROTECAODEATIVOS]  WITH CHECK ADD  CONSTRAINT [FK_PROTECAODEATIVOS_SETORES_ID] FOREIGN KEY([SET_INT_ID])
REFERENCES [dbo].[SETORES] ([SET_INT_ID])
GO
ALTER TABLE [dbo].[PROTECAODEATIVOS] CHECK CONSTRAINT [FK_PROTECAODEATIVOS_SETORES_ID]
GO
USE [master]
GO
